obj/WebDevHomework.csproj.nuget.cache
obj/WebDevHomework.csproj.nuget.g.targets
obj/WebDevHomework.csproj.nuget.cache
obj/WebDevHomework.csproj.nuget.g.props
obj/project.assets.json
obj/Debug/netcoreapp2.0/WebDevHomework.AssemblyInfo.cs
obj/Debug/netcoreapp2.0/WebDevHomework.csproj.CoreCompileInputs.cache
