@model List<WebDevHomework.Models.Link>
<div>
    <div>
        @using (Html.BeginForm("Create", "Link", FormMethod.Post))
        {
            <input type="text" name="Title" placeholder="Title" value="Wypok peel" required/> 
            <br/>
            <input type="text" name="FullUrl" placeholder="Website Address" value="www.wykop.pl" 
                pattern="w{3}\.[a-zA-Z0-9]+\.?[a-z]{2,3}(|\.[a-z]{2,3})" title="e.g. www.google.pl" required /> 
            <br/>
            <button type="submit">Add</button>
        }
    </div>

    <div class="list">
        <table>
            @foreach(var item in Model) 
            {
                <tr>
                    <td><strong>Title:</strong></td>
                    <td>@Html.DisplayFor(model => item.Title)</td>
                    <td><strong>Full link:</strong></td>
                    <td>@Html.DisplayFor(model => item.FullUrl)</td>
                    <td><strong>Short link:</strong></td>
                    <td>@Html.ActionLink(item.ShortUrl, "RedirectToUrl", "Redirect", new { shortUrl = item.ShortUrl }, new {target="_blank"})</td>
                    <td>| @Html.ActionLink("Delete", "Delete", "Link", new { linkId = item.Id })</td>
                </tr>
            }
        </table>
    </div>
</div>  